:root {
    --primary: #A7C957;
    --secondary: #757575;
    --light: #F3F6F8;
    --dark: #000000;
    
}
*{
    font-family: "Noto Sans", sans-serif;
}
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}
.btn-lg-square {
    width: 48px;
    height: 48px;
}
.bg-primary {
    background-color: var(--primary) !important;
}