:root {
    --primary: #A7C957;
    --secondary: #757575;
    --light: #F3F6F8;
    --dark: #000000;
    
}
*{
    font-family: "Noto Sans", sans-serif;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(0%, -50%);
    padding: 1.25rem;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-caption h3 {
    margin-bottom: 0;
}

.carousel-control-prev,
.carousel-control-next {
    border-radius: 15px;
    width: 30px;
    height: 30px;
    background-color: #007bff;
    color: black;
    opacity: 0.7;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
}

.carousel-indicators {
    display: none !important;
    bottom: 20px;
}

.carousel-indicators li {
    background-color: #007bff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 5px;
}

.carousel-indicators .active {
    background-color: black;
}

.carousel-item img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 50% !important;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11%;
    padding: 0;
    color: #000000 !important;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 1rem !important;
    height: 1rem !important;
    background-color: #7fb43c;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    padding: 21px;
    border-radius: 50%;
}
.carousel-item {
    transition: transform 1.5s ease-in-out;
  }
  .display-2 {
    font-size: calc(1.575rem + 3.9vw) !important;
    font-weight: 700 !important;
    line-height: 1.2 !important;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #757575;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: 0px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/*** Button ***/


.btn.btn-primary,
.btn.btn-outline-primary:hover {
    color: #FFFFFF;
}



.btn-primary {
    color: #000 !important;
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    text-decoration: none;
    cursor: pointer;
}



.shimmer {
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #e6e6e6 40%, #fafafa 50%, #e6e6e6 60%);
   background-size: 300%;
   background-position-x: 100%;
   animation: shimmer 1s infinite linear;
}

@keyframes shimmer {
    to {
        background-position-x: 0%
     }
}